.titile {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
.text {
  font-size: 0.9rem;
  margin: 0;
}

.container,
.col,
.row,
.card,
.form-control,
.btn-primary {
  font-family: "Nanum Gothic 800", "sans-serif";
}
