.Wrapper {
  width: 100%;
}

.copyright {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

@font-face {
  font-family: "Black Han Sans";
  src: url("../../public/fonts/BlackHanSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Do Hyeon";
  src: url("../../public/fonts/DoHyeon-Regular.ttf") format("truetype");
}